  <div class="form-container">
<div class="container">
  <div class="row justify-content-center">
    <div class="new-form col-12 pt-3 pb-3">
      <div class="form-card">
      <br>
      <h1>List an adventure</h1>
      <br>
      <%= render 'shared/form' %>
    </div>s
    </div>
  </div>
  </div>
</div>
