<div class="banner">
  <div class="container">
    <h1>Experience the adventure of your life</h1>
    <p>Share unbelievable moments with passionate people !</p>
    <div class="cta-wrapper">
      <%= link_to "Find your adventure!", adventures_path, class: "btn-cta" %>
    </div>
  </div>
</div>
