.btn-adventure{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 8px 40px;
  border-radius: 4px;
  background: #00A99D;
  transition: background 0.3s ease;
  margin-right: 2rem;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-adventure:hover {
  background: #2e8a83;
  color: white;
  text-decoration: none;
}

.btn-banner {
  text-decoration: none;
  color: white;
  transition: opacity 0.3s ease;
  font-weight: bold;
}

.btn-banner:hover {
  text-decoration: underline;
  color: black;
}

.btn-secondary {
  border: 2px solid #00A99D;
  color: #00A99D;
  font-size: 1.5rem;
  padding: 8px 40px;
  border-radius: 4px;
  background-color: white;
  transition: background 0.3s ease;
  margin-right: 16px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-secondary:hover {
  text-decoration: none;
  border: 2px solid #00A99D;
  color: white;
  background-color: #00A99D;
}

#add-review {
  font-size: 15px;
}
