.cards-and-map {
  display: flex;
  padding: 20px;
  background-color: rgb(240,240,240);
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  flex-grow: 1;
  padding: 0 35px;
  -webkit-box-flex: 1;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  height: 650px;
}

.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  margin: 20px;
}

.card-show > img {
  width: 100%;
  height: 50%
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
  font-style: italic;
}
