.cards-and-map {
  display: flex;
  padding: 20px;
  background-color: rgb(240,240,240);
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding: 0 16px;
  -webkit-box-flex: 1;
}

.card .btn-adventure{
  font-size: 1.0rem;
  padding: 8px 0px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
  .card-grid {
    justify-items: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
  .card {
    width: 48vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
  .card {
    width: 48vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    width: 30vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    width: 20vw;
  }
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  height: 580px;
}
.card i {
  margin-right: 8px;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  margin-bottom: 16px;
}

.card-show i {
  margin-right: 8px;
}

.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  margin-top: 32px;
  padding: 16px;
}

.card-show img {
  position: relative;
}

.booking-card-main {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 8px;
}

.booking-card-main h3 {
  padding: 16px 16px 0 16px;
}

.booking-card-main p {
  padding-left: 16px;
}

.card li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-show li {
  list-style: none;
}


.card-details {
  border-bottom: 1px solid black;
  padding-bottom: 16px;
}

.card-show-price {
  position: absolute;
  font-size: 16px;
  font-weight: bolder;
  color:  #323232;
  text-align: center;
  padding: 4px 12px;
  top: 16px;
  left: 32px;
  background-color: rgba(230,230,230,0.8);
  border-radius: 4px;
  white-space: nowrap;
}

.card-index-price {
  position: absolute;
  font-size: 16px;
  font-weight: bolder;
  color: #323232;
  text-align: center;
  padding: 4px 12px;
  top: 16px;
  left: 16px;
  background-color: rgba(230,230,230,0.8);
  border-radius: 4px;
  white-space: nowrap;
}

.card-show-text {
  padding: 16px;
}

.card-show > img {
  width: 100%;
  height: 50%
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
  font-style: italic;
}

.card.new-form {
  overflow: scroll;
}

// Adventure cards on dashboard
.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 24px;
  justify-content: space-evenly;
}

.card-show > h1 {
  color: #00A99D;
  text-align: center;
}

.card-show > h2 {
  color: #00A99D;
  text-align: center;
}

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-style: normal;
}

.card-product-infos {
  padding: 16px;
}

.card-product-link {
  padding: 16px;
}

#card-dashboard {
  width: 100%;
  margin: 20px;
  padding: 16px
}


