footer {
  background-color: rgb(200,200,200);
}

footer a {
  color: #323232;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}

footer li {
  font-weight: lighter;
}

footer i {
  font-size: 24px;
  color: #323232;
  margin: 12px;
}
